transformers==4.53.3
tokenizers==0.21.2
huggingface-hub==0.33.4
accelerate==0.27.2
datasets==3.6.0
evaluate==0.4.6
sentencepiece==0.2.0
numpy==2.1.2
tqdm==4.67.1
peft==0.7.1
lm-eval @ git+https://github.com/EleutherAI/lm-evaluation-harness.git@9b0b15b1ccace3534ffbd13298c569869ce8eaf3
